.gitattributes eol=lf
.gitignore  eol=lf
*.txt       eol=lf
*.in        eol=lf
*.h         eol=lf
*.c         eol=lf
*.inl       eol=lf
*.cpp       eol=lf
*.cxx       eol=lf
*.hxx       eol=lf
*.i         eol=lf
*.cls       eol=lf
*.sty       eol=lf
*.tex       eol=lf
*.m         eol=lf
*.sh        eol=lf
*.csh       eol=lf
*.workspace eol=lf
*.cbp       eol=lf
*.svg       eol=lf
*.dia       eol=lf
*.xib       eol=lf
*.plist     eol=lf
*.java      eol=lf
*.ts        eol=lf
*.qml       eol=lf
*.qrc       eol=lf
*.py        eol=lf
*.rst       eol=lf
*.bat       eol=crlf
*.cmd       eol=crlf
*.dll       binary
*.so        binary
*.dylib     binary
*.7z        binary
*.pdf       binary
*.png       binary
*.jpg       binary
*.bmp       binary
*.gif       binary
*.xwd       binary
*.ico       binary
*.icns      binary
*.std       binary
*.gz        binary
*.doc       binary
*.rgb       binary
*.mft       binary
*.stl       binary
